/* ProductSection.css */

.product-section {
  background-color: #f0f0f0;
  padding: 100px 0;
  text-align: center; /* Alinea el contenido al centro */
}

.product-content {
  max-width: 800px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
}

.product-content h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.product-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

.product-item img {
  max-width: 100%;
  border-radius: 5px;
}

.product-item p {
  margin-top: 10px;
}
