/* styles.css */
body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* header {
  background-color: #333;
  color: #fff;
  padding: 20px;
} */

nav {
  /* Estilos para el menú de navegación, si lo tienes */
}
